.accountInfo{
    display: flex; 
    justify-content: center;
}
.accountInfoContent{
    display: flex; 
    width: 100%;
    font-size: 20px ;
    color: #000;
    position: relative;
    justify-content: center;
    border-top: 2px solid #ccc;
  }
  
.accountInfoTitle{
   font-size: 18px;
   position: absolute;
   color: #000;
  }
.accountInfoDescription{   
    position: absolute;
    bottom: 7px;
    font-size: 16px;
    color: #000;
  }
  .accountInfoAmount{
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
.accountTransaction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    padding-bottom: 40px;
    background-color: #12002b;
}
  .transactionCard{
    width: 40%;
    margin-top: 10px;
    padding-left: 50px;
    display: flex;
    background-color: white;
    flex-direction: column;
    position: relative;
  }
  .transactionDetails{
    display: flex;
    flex-direction: row;
    gap: 150px;
  }
  .transactionDetails i {
    display: flex;
    position: absolute;
    top: 20px;
    left: 15px;

    align-items: center;
    justify-content: center;
  }
  .transactionCard .editButton {
    display: none;
  }
  
  .transactionCard.open .editButton {
    display: inline-block;
  }

  .editingButtons{
    text-align: left;
    justify-content: center;
    gap: 20px;
  }
  .transactionHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 34px;
    color: grey;
    /* gap: 15%; */
  }

  .DATEHeader{
    margin-right: 55%;
  }

  .DescHeader{
    margin-right: 35%;;
  }
  .AmountHeader{
    margin-right: 35%;;
  }

  .BalanceHeader{
    margin-right: 10%;;
  }


  @media screen and (max-width: 1109px){

    .accountContent{
      width: 35%;
    }
    
    
  }

  @media screen and (max-width: 856px){

    .accountContent{
      width: 50%;
    }
    
    
  }
  @media screen and (max-width: 425px) {
    .DATEHeader{ margin-right: 5%; } 
    .DescHeader{ margin-right: 5%; } 
    .AmountHeader{ margin-right: 5%; } 
    .BalanceHeader{ margin-right: 5%; }
    .transactionHeader{ font-size: 15px; }
    .transactionCard{ width: 80%; padding: -15px; }
    .transactionDetails i { top: 35px; }
    .transactionDetails{
      gap: 15px;
      padding: 0px;
    }
  }
  @media screen and (min-width:426px) and (max-width: 768px) {
    .DATEHeader{ margin-right: 8%; } 
    .DescHeader{ margin-right: 8%; } 
    .AmountHeader{ margin-right: 8%; } 
    .BalanceHeader{ margin-right: 8%; }
    .transactionCard{ width: 80%; padding-left: 40px; }
    .transactionDetails i { top: 20px; }
    .transactionDetails{
      gap: 25px;
      padding: 0px;
    }
  }

  @media screen and (min-width:769px) and (max-width: 1024px) {
    .DATEHeader{ margin-right: 8%; } 
    .DescHeader{ margin-right: 8%; } 
    .AmountHeader{ margin-right: 8%; } 
    .BalanceHeader{ margin-right: 8%; }
    .transactionCard{ padding-left: 40px; }
    .transactionDetails i { top: 20px; }
    .transactionDetails{
      gap: 25px;
      padding: 0px;
    }
  }

  @media screen and (min-width:1024px) and (max-width: 1440px) {
    .DATEHeader{
      margin-right: 0%;
    }
    .DescHeader{
      margin-right: 0%;
      margin-left: 26%;
    }
    .AmountHeader{
      margin-right: 0%;
      margin-left: 22%;
    }
    .BalanceHeader{
      margin-right: 0%;
      margin-left: 23%;
    }
    .transactionDetails{
      gap: 120px;
    }
  }